@model LB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-sm-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Đổi mật khẩu</h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Mật khẩu cũ</label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Xác nhận" class="btn btn-default" />
                            </div>
                }

            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}